
* {
    -fx-glowny: #2c2c2c;
    -fx-drugi: #00B1C7;
    -fx-drugi-najechanie: #004359;
    -fx-glownytekst: #BABABA;
    -fx-tekstniebieski: #00E5FB;
    -fx-blad: #ba0e1b;
    -fx-blad-dwa: #ba1300;

}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: -fx-drugi;
}

.smalltext{
    -fx-fill: -fx-tekstniebieski;
}

.line{
    -fx-fill: -fx-tekstniebieski;
    -fx-stroke: -fx-tekstniebieski;
}

.root {
    -fx-background-color: -fx-glowny;
}

.text-field {
    -fx-text-fill: -fx-glownytekst;
    -jfx-focus-color: -fx-drugi;
}

/* GLOWNE OKNO */

.tab-header-background {
    -fx-background-color: -fx-glowny;
}

.jfx-hambueger-icon {
    -fx-spacing: 7;
}

.jfx-hambueger-icon StackPane {
    -fx-background-color: -fx-drugi;
    -fx-background-radius: 5px;
}

.menu-vbox {
    -fx-background-color: -fx-glowny;
}

.ImageView{
    -fx-blend-mode: COLOR_BURN;
}

.menu-button {
    -fx-background-color: #090a0c,
    linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
    linear-gradient(#20262b, #191d22),
    radial-gradient(center 50% 0%, radius 100%, rgba(114, 131, 148, 0.9), rgba(255, 255, 255, 0));
    -fx-background-radius: 5, 4, 3, 5;
    -fx-background-insets: 0, 1, 2, 0;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}

.menu-button:hover {
    -fx-background-color: #2f3032,
    linear-gradient(#4f5a63 0%, #383d42 20%, #2a2e33 100%),
    linear-gradient(#3c4449, #282c31),
    radial-gradient(center 50% 0%, radius 100%, rgba(114, 131, 148, 0.9), rgba(255, 255, 255, 0));
    -fx-background-radius: 5, 4, 3, 5;
    -fx-background-insets: 0, 1, 2, 0;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(23, 23, 23, 0.6), 5, 0.0, 0, 1);
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(#ffffff, #dddddd);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
    -fx-text-fill: -fx-tekstniebieski;

}

.menu-button:hover .imageview StackPane{
    -fx-blend-mode: color-burn;
}

.text-field {
    -jfx-unfocus-color: radial-gradient(focus-distance 0%, center 50% 50%, radius 40%, -fx-drugi, -fx-glowny);
}

.combo-box .cell {
    -fx-background-color: -fx-glowny;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.combo-box .cell:hover {
    -fx-text-fill: -fx-glownytekst;
}

.combo-box .list-cell {
    -fx-text-fill: -fx-tekstniebieski;
    -fx-alignment: center;
    -fx-text-alignment: center;
}


.combo-box-popup .list-view {
    -fx-background-color: -fx-glowny;
}



.error {
    -fx-text-fill: -fx-blad;
    -fx-prompt-text-fill: -fx-blad;
    -jfx-focus-color: radial-gradient(focus-distance 0%, center 50% 50%, radius 40%, -fx-blad, -fx-glowny);
    -jfx-unfocus-color: radial-gradient(focus-distance 0%, center 50% 50%, radius 40%, -fx-blad, -fx-glowny);
}

.incorrectly {
    -fx-prompt-text-fill: -fx-blad;
    -fx-text-fill: -fx-blad;
    -jfx-unfocus-color: radial-gradient(focus-distance 0%, center 50% 50%, radius 40%, -fx-blad, -fx-glowny);
}

.correct {
    -fx-text-fill: -fx-glownytekst;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view:focused {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .column-header-background .label {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-glownytekst;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell {
    -fx-text-fill: white;
}

.table-row-cell {
    -fx-background-color: -fx-table-cell-border-color, -fx-glowny;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: -fx-drugi;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}



